.container {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    grid-template-columns: 1fr 1fr;
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    grid-template-columns: 1fr;
  }
}
